<mat-card class="mt-2">
  <div class="row justify-content-around">
    <div class="col-8 ps-3">
      <p class="text-dark m-1 p-0">Tu almuerzo selecionado es:</p>
      <h5>{{ order?.recipe?.name }}</h5>
      <p class="text-black-50 fw-light m-1 p-0">Tiempo aprox de entrega
        es: {{ order?.recipe?.avg_preparation_time }} segs</p>
      <p class="text-black-50 fw-light m-1 p-0">Fecha/Hora solicitado: {{ order?.request_date | date }}</p>
      <p [class]="'text-black-50 m-1 p-0 fw-light '+ stateTextStatus(order?.status || '').class">
        Estado: {{ stateTextStatus(order?.status || '').text }}</p>
    </div>
    <div class="col-4 card-lunch-image" style="background-image: url('{{order?.recipe?.url_image || ''}}')">
    </div>
  </div>
</mat-card>
