<div class="container">
  <div class="row justify-content-center justify-content-md-start">
    <div class="col-12 mt-4">
      <h3 class="text-dark">Bienvenido</h3>
      <h6 class="text-black-50">¡Espero te encuentres bien!</h6>
      <h6 class="fw-normal text-black-50">¿Deséas solicitar un almuerzo?</h6>
    </div>
    <div class="col-11 col-md-4 col-lg-3 mt-2">
      <button [disabled]="isSendingOrder" mat-raised-button class="w-100 btn-primary" (click)="requestLunch()">
        <mat-icon *ngIf="isSendingOrder" class="rotate">hourglass_top</mat-icon>
        <span *ngIf="!isSendingOrder">Solicitar almuerzo</span>
      </button>
    </div>
  </div>
  <div class="row justify-content-center justify-content-md-start">
    <div class="col-md-6 col-11" *ngIf="orderList && orderList.length > 0">
      <mat-list role="list" *ngFor="let order of orderList" class="my-2">
        <app-card-lunch [order]="order"></app-card-lunch>
      </mat-list>
    </div>
  </div>
  <div class="row justify-content-center justify-content-md-start" *ngIf="showMore">
    <div class="col-11 col-md-5 col-lg-4">
      <button mat-raised-button class="w-100 btn-primary" (click)="requestLunch()">
        Ver más
      </button>
    </div>
  </div>

</div>
