<link rel="stylesheet"
      href="../../../../Glasmmy/glasmmy_digital_fe/src/app/pages/main-container/main-container.component.scss">
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer mode="over">
          <mat-nav-list>
            <mat-list-item (click)="drawer.toggle()">
              <h6 class="mt-3">
                <mat-icon class="col-auto pt-1 link-opacity-10-hover">close</mat-icon>
                <span class="ms-3">Cerrar</span>
              </h6>
            </mat-list-item>
            <mat-list-item (click)="goTo('/', drawer)">
              <a [routerLink]="'/'" (click)="drawer.toggle()">Inicio</a>
            </mat-list-item>
            <mat-list-item (click)="goTo('/orders', drawer)">
              <a [routerLink]="'/orders'" (click)="drawer.toggle()">Ordenes</a>
            </mat-list-item>
            <mat-list-item (click)="goTo('/recipes', drawer)">
              <a [routerLink]="'/recipes'" (click)="drawer.toggle()">Recetas</a>
            </mat-list-item>
            <mat-list-item (click)="goTo('/market-purchases', drawer)">
              <a [routerLink]="'/market-purchases'" (click)="drawer.toggle()">Historial de compras</a>
            </mat-list-item>
            <mat-list-item (click)="goTo('/ingredients-warehouse', drawer)">
              <a [routerLink]="'/ingredients-warehouse'" (click)="drawer.toggle()">Ingredientes en Bodega</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <header class='dashboard-toolbar row ps-3 bg-light w-100'>
            <button (click)="drawer.toggle()"
                    class="btn col-auto row no-gutters me-1 h-75 mt-1">
              <mat-icon class="col-auto pt-1">menu</mat-icon>
              <span class="h5 col-2 pe-0">
                Menu
              </span>
            </button>
            <h5 class="col-auto text-secondary pt-2">
              &#9656;</h5>
            <h5 class="col-auto text-secondary pt-1">
              <p class="breadcrumb">Inicio</p>
            </h5>
          </header>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>
